body {
  background-color: #3d3d3d;
}

#container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#todoList {
  margin-top: 30px;
  width: 1000px;
  min-height: 400px;
}

#menu form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu input {
  width: 300px;
  height: 40px;
  text-align: center;
  color: white;
  background-color: #2e2e2e;
  font-size: 20px;
  box-sizing: content-box;
  margin: 0;
  border: none;
  padding: 0;
  outline: none;
}

#menu button {
  width: 40px;
  height: 40px;
  box-sizing: content-box;
  color: white;
  background-color: #4795c2;
  border: none;
  margin: 0;
  padding: 0;
}

#menu button:hover {
  background-color: #00639c;
  cursor: pointer;
}

#elementsList {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#elementsList li {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 1000px;
  height: 80px;
  list-style-type: none;
}

#elementsList li div {
  float: left;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-sizing: border-box;
}

.nameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 100%;
  border-right: 2px solid black;
  background-color: #4795c2;
}

.done {
  background-color: #3c8341;
  text-decoration: line-through;
}

.optionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.trashDiv:hover {
  background-color: #ff1d1d;
}

.modifyDiv:hover {
  background-color: #ff9a02;
}

.checkDiv:hover {
  background-color: #2fe93b;
}

.fa-plus-square {
  font-size: 24px;
}

.checkDiv {
  float: left;
  height: 100%;
  width: 34%;
  background-color: #3c8341;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modifyDiv {
  float: left;
  height: 100%;
  width: 34%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c48528;
  color: white;
  cursor: pointer;
}

.trashDiv {
  float: left;
  height: 100%;
  width: 34%;
  background-color: #9c3636;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.optionDiv i {
  font-size: 24px;
}

.modifyInput {
  background: none;
  border: none;
  font-size: 24px;
  text-align: center;
  width: 100%;
  height: 100%;
  outline: none;
}

.modify-Btn {
  position: absolute;
  left: 53%;
  height: 100%;
  width: 100px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  transform: translate3d(0px, 40px);
}

.modify-Btn:hover {
  color: white;
}
